# ==================== USER-SERVICE DATABASE ====================
POSTGRES_DB=userdb
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# ==================== NOTIFICATION-SERVICE DATABASE ====================
NOTIFICATION_DB_PORT=5434
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

# ==================== SMTP ====================
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
MAIL_USER=
MAIL_PASSWORD=

# ==================== PRODUCT-SERVICE DATABASE ====================
PRODUCT_DB_NAME=ecommerce_products
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=
PRODUCT_DB_PORT=5435

# ==================== YANDEX OBJECT STORAGE ====================
YANDEX_STORAGE_ACCESS_KEY=
YANDEX_STORAGE_SECRET_KEY=

# ==================== AUTH-SERVICE ====================
SECRET_JWT=
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=86400000
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

# ==================== ORDER-SERVICE DATABASE ====================
ORDER_DB_NAME=order_db
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_PORT=5436

# ==================== INTEGRATION-SERVICE DATABASE ====================
INTEGRATION_DB_NAME=integration_db
INTEGRATION_DB_USER=
INTEGRATION_DB_PASSWORD=
INTEGRATION_DB_PORT=5437

# ==================== FTK FTP ====================
FTK_FTP_HOST=
FTK_FTP_PORT=21
FTK_FTP_USERNAME=
FTK_FTP_PASSWORD=
FTK_FTP_PASSIVE_PORT_START=65000

# ==================== 1C CommerceML ====================
CML_USERNAME=
CML_PASSWORD=

# ==================== PAYMENT-SERVICE DATABASE ====================
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_PORT=5438

# ==================== TOCHKA BANK ====================
TOCHKA_BASE_URL=https://enter.tochka.com/api/v2
TOCHKA_TOKEN=
TOCHKA_CUSTOMER_CODE=
TOCHKA_REDIRECT_URL=
TOCHKA_FAIL_REDIRECT_URL=
TOCHKA_MERCHANT_ID=

# ==================== INTERNAL ====================
INTERNAL_SECRET=
PAYMENT_SERVICE_URL=http://payment-service:8090

# ==================== APP ====================
APP_BASE_URL=https://rfsnab.ru
FRONTEND_URL=https://rfsnab.ru
