spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://user-db:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
        ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect
